<!DOCTYPE html>
<html>
<title>Chatbot</title>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">  
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>

<style type="text/css">
  	h1{
padding-top: 30px;
text-align: center;	
	}
	#textInput
	{
	margin-bottom: 10px;	
	}
  </style>   

</head>
<body>
<div class="container">
<h1>Flask Chatbot</h1>
<div id = "chatbox" class="container-sm border" >
<p class = "botText"><span>Hi! Iam your Chatterbot.</span></p>
<div id = "userInput">
<input id ="textInput" type ="text" name="msg" placeholder="Message">
<input id = "buttonInput" type = "submit" value="Send">
</div>
</div>
<script>
function getBotResponse(){
var rawText = $("#textInput").val();
var userHtml = '<p class = "userText"><span>' + rawText + '</span></p>';
$("#textInput").val("");
$("#chatbox").append(userHtml);
document.getElementById('userInput').scrollIntoView({block:'start',behaviour:'smooth'});
$.get("/get", {msg:rawText }).done(function(data) {
var botHtml = '<p class ="botText"><span>' + data + '</span></p>';
$("#chatbox").append(botHtml);
document.getElementById('userInput').scrollIntoView({block : 'start',behaviour:'smooth'});
});
}
$("#textInput").keypress(function(e) {
if(e.which == 13) {
getBotResponse();
}
});
$("#buttonInput").click(function() {
getBotResponse();
})
</script>
</div>
</body>
</html>